<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Net Worth</title>
</head>
<body>
    <h1>Your Net Worth</h1>

    <h2>Investments</h2>
    <ul>
        {% for investment in investments %}
            <li>{{ investment.name }}: ${{ investment.amount }}</li>
        {% endfor %}
    </ul>

    <h2>Total Net Worth</h2>
    <p>${{ total_worth }}</p>
</body>
</html>
